.drop-zones {
  width: 486px;
  height: 156px;
  gap: 24px;

  .DropZone {
    border: 2px dashed #c5c7d0;

    padding: 0px;

    .upload-text {
      color: #0073ea;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 153.5%;
    }
  }
}
